.card 
{ 
    width: 140px;
    height: 70px; 
    display:grid; 
    place-items:center; 
    margin:12px 0; 
    background:#f9fafb; 
}

.a
{
    background-color: red;
    margin-left: 30px;
    color: lightcoral;
    border-style: solid;
}

.b
{
    background-color: blue;
    margin-left: 15px;
    border-radius: 15px;
    color: lightblue;
    border-width: 10px 10px;
    border-style: solid;
}

.c
{
    background-color: yellow;
    box-shadow: 2px 4px 4px black;
    color: lightyellow;
    border-color: coral;
    border-style: solid;
}
